body {
    background-color: white;
    color: black;
}

button {
    background-color: gold;
    border-radius: 5px;
    color: white;    
}





@media screen and (prefers-color-scheme: dark){
    body { background-color: black;
            color: white;
    }
}